<div id="tab">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a [className]="tabType === 'create' ? 'nav-link active' : 'nav-link'" style="cursor: pointer;" (click)="goToCreate()">Create Key</a>
        </li>
        <li class="nav-item">
            <a [className]="tabType === 'generate' ? 'nav-link active' : 'nav-link'"  style="cursor: pointer;" (click)="gotToGenerate()">Import Key</a>
        </li>
    </ul>
    <div *ngIf="tabType === 'create'">
        <div class="container">
            <div class="text-center display-1">Create Key</div>
            <app-create-key></app-create-key>
        </div>
    </div>

    <div *ngIf="tabType === 'generate'">
        <div class="container">
            <div class="text-center display-1">Import Key</div>
            <app-import-key></app-import-key>
        </div>
    </div>
</div>