<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control">
        <span *ngIf="!createForm.get('username').valid && createForm.get('username').touched"
          class="help-block">
          Enter username.
        </span>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control">
        <span *ngIf="!createForm.get('email').valid && createForm.get('email').touched"
          class="help-block">
          Enter email.
        </span>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
          <span *ngIf="!createForm.get('password').valid && createForm.get('password').touched"
            class="help-block">
            Enter min 8 lenght pass.
          </span>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input
          class="form-control"
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          >
          <span *ngIf="!createForm.get('confirmPassword').valid && createForm.get('confirmPassword').touched"
            class="help-block">
            Enter matching password.
          </span>
      </div>

    <button class="btn btn-primary" type="submit">Create</button>
  </form>